<div class="container">
  <div class="row min-vh-100 w-100 justify-content-center align-items-center align-content-center text-center">
      <div class="col-md-10">
        <h2 class="text-uppercase">Send a secret message</h2>
      <form [formGroup]="msgForm" (ngSubmit)="sendMsg()" class="w-50 mt-4 mx-auto">
        <div class="mb-3">
          <textarea formControlName="message" class="form-control p-3" placeholder="write an honest message..." rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Send message</button>
      </form>
      </div>
  </div>
</div>
